body {
	background-color: bisque;
}
.container {
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
}
.header {
	display: flex;
	justify-content: center;
}
img {
	object-fit: contain;
	max-width: 390px;
	margin: 14px 0 14px 0;
}
@media (max-width: 770px) {
	.container {
		margin: 0 10%;
	}
	img {
		width: 100%;
	}
}
